
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-start;
}

.home-btn {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.home-btn:hover {
    color: #ddd;
}


.inicial {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.image-links {
    display: flex;
    gap: 20px;
}

figure {
    text-align: center;
}

figure img {
    width: 200px;
    height: 150px;
    border: 2px solid #333;
    border-radius: 8px;
    transition: transform 0.3s;
}

figure img:hover {
    transform: scale(1.1);
}

figcaption {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

.image-cont{
    display: flex;
    justify-content: center;  /* Centraliza horizontalmente */
    align-items: center;      /* Centraliza verticalmente */

}

.img-pag {
    width: 400px;
    height: 300px;
    border: 2px solid #333;
    border-radius: 8px;
}

.main-paginas {
    flex: 1;

    justify-content: center;
    align-items: center;
    padding: 20px;
}

.texto-paginas {
    text-align: center;
}

.horizontal-list {
    list-style: none;  /* Remove os marcadores da lista */
    display: flex;     /* Exibe os itens em linha */
    justify-content: center; /* Centraliza a lista horizontalmente */
    padding: 20px;
    gap: 20px; /* Espaçamento entre os itens */
}

.horizontal-list li {
    margin: 0 10px; /* Espaçamento entre os links */
}

.horizontal-list a {
    text-decoration: none; /* Remove o sublinhado dos links */
    color: #007bff;        /* Cor dos links */
    font-size: 18px;
    padding: 10px;
}

.horizontal-list a:hover {
    color: #0056b3;  /* Cor dos links ao passar o mouse */
}